<h1>Welcomeeeeeeeeee</h1>
<h2>This is my first rails application</h2>
<ul>
    <li>Will explore rails and its benefits</li>
    <li>JK we will have fun =P</li>
    <li> <%= link_to  'About Page', about_path %> </li>
</ul>